{% extends 'base.html.twig'%}

{% block title %} Mot de passe oublié  {% endblock %}

{% block body %}

    <section id="pricing" class="pricing">
    <div class="container">
    <h2> Mot de passe oublié </h2>
    {{ form(emailForm) }}
    </div>
    </section>

{% endblock %}