{% extends 'base.html.twig'%}
{% block body %}

    <h2>Modifier</h2>
<<<<<<< HEAD

{{ form_end(formUser) }}
{{ form(formUser) }}
{{ form(formUser) }}
=======
{{ form(form) }}
>>>>>>> origin/master

{% endblock %}