<div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

        <!-- Topbar -->
        {{ include('partials/_topbar.html.twig') }}
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        {{ include('partials/_content.html.twig') }}
        <!-- End of Main Content -->

    <!-- Footer -->
        {{ include('partials/_footer.html.twig') }}
    <!-- End of Footer -->

    </div>
</div>
