<section>
    {% if f is defined %}
        {{ form_start(f,{'attr': {'novalidate' : 'novalidate'}} ) }}
        <h3>Ajouter un commentaire</h3>

        <div class="form-group">
            <label>Commenter</label>
            {{ form_widget(f.contenue) }}
            {{ form_errors(f.contenue) }}
        </div>
        {{ form_end(f) }}
    {% endif %}
</section>


